        
        .td_icon {

            width:  60px;
        } 
        
        .td_icon2 {
          height:124px;
          width:20%;
          padding-bottom: 4px;
        }
        
        .td_icon3 {
          height:122px;
          padding-bottom: 8px;
        }
          
        .td_icon4 {
          height:200px;
          padding-bottom: 2px;
          width: 20%;
        }